<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPlayer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <video src="{{ path }}" id="myVideo" controls></video>

    <div class="sidebar" style="display: none;">
        <h1 class="video-name">{{ video }}</h1>
        <span class="video-info"><span class="no-annot">_</span>&nbspAnnotations | <span class="no-bookm">_</span>&nbspBookmarks</span>

        <div class="create-buttons">
            <button class="annot-now-btn create-btn">Annotate</button>
            <button class="bookm-now-btn create-btn">Bookmark</button>
        </div>
    </div>
    <!-- <div id="timer"> timer </div> -->
    <!-- <button onclick="save()">Annotate</button> -->
</body>

<script>
    document.querySelector('#myVideo').addEventListener('mousemove', function() {
        if (document.querySelector('.sidebar').style.display != "block") {
            document.querySelector('.sidebar').style.display = "block";
        }
        setTimeout(function () {
            if (document.querySelectorAll('.sidebar:hover').length == 0)
            {
                document.querySelector('.sidebar').style.display = "none";
            }
        }, 3000);
})
</script>

<script>
    document.getElementById("myVideo").addEventListener('timeupdate', function() {
        document.getElementById("timer").innerHTML = this.currentTime;
        currentTime = this.currentTime; 
    });

    function settime(){
        vid = document.getElementById("myVideo");
        vid.currentTime = document.getElementById("starttime").innerHTML
    }

function save() {
    var dataaaa = document.getElementById("timer").innerHTML;
    var xhr = new XMLHttpRequest()
    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            window.location.replace("/draw1");
        }
    }

    const data = new FormData()
    console.log(data)
    data.append('image', dataaaa)
    xhr.open('POST', '/draw')
    xhr.send(data)
}
</script>
</html>
